# Exclude buiild directories
/cmake-build-debug/
/cmake-build-release/
/cmake-build-debug-coverage/
/cmake-build-release-coverage/
/build*
env_model_test
env_model_test_coverage
env_model_example_node

# Exclude binaries
*.a
*.so

# Log files
*.log

# Exclude Python directories
.idea/
.ipynb_checkpoints/
dist
*.egg-info
__pycache__/

/.pytest_cache/
