# Exclude build directories
/cmake-build-debug/
/cmake-build-release/
/cmake-build-debug-coverage/
/cmake-build-release-coverage/
.vscode/
venv/
/build*
env_model_test
env_model_test_coverage
env_model_example_node

# Exclude binaries
*.a
*.so

# Log files
*.log

# Exclude Python directories
.idea/
.ipynb_checkpoints/
dist
*.egg-info
__pycache__/

/.pytest_cache/
/_skbuild/

# config files
/src/commonroad_cpp/custom_config.yaml

# From direnv
.direnv

# For setuptools-scm
/src/python/crcpp/_version.py