graft example
graft external
graft external_v2

graft src
graft include
graft tests/python
graft tests/scenarios

include CMakeLists.txt
include ci/ccache.cmake
include ci/sccache.cmake

global-exclude *.pyc